<header class="header">
    <div class="container header-container">
        <a href="{{root}}index.html" class="logo">팍술의 <span style="color:#28a745;">골프공</span> 블로그</a>
        <button id="mobile-menu-btn" class="mobile-menu-btn">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="nav-menu">
            <li class="nav-item"><a href="{{root}}index.html" class="nav-link">홈</a></li>
            <li class="nav-item"><a href="#" class="nav-link">카테고리</a></li>
            <li class="nav-item"><a href="{{about}}" class="nav-link{{aboutActive}}">소개</a></li>
            <li class="nav-item"><a href="#" class="nav-link" style="display: none;">연락처</a></li>
            <li class="nav-item">
                <button id="theme-toggle" class="theme-toggle" style="display: none;">
                    <i id="moon-icon" class="fas fa-moon"></i>
                    <i id="sun-icon" class="fas fa-sun" style="display: none;"></i>
                </button>
            </li>
        </ul>
    </div>
</header>
